.settings-title{
    width:60px !important;
    text-align: center;
    color: #1976d2 !important;
}
.settings-title-large{
    width:100px !important;
    text-align: center;
    color: #1976d2 !important;
}